body{
    background-color: #1A759F;
}

header{
    background-color: #184E77;
}

a:hover{
    text-decoration: underline;
}

h3{
    text-decoration: underline;
}

h4{
    color: white;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #99D98C;
    color: white;
}

main section {
    text-align: center;
}

footer{
    background-color: #184E77;
    text-decoration: underline;
}

footer h3{
    color:white;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:#99D98C;
}

#background {
    height: 725px;
    background-color: #1A759F;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img{
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.book{
    background-color: #1A759F;
    color: white;
    text-decoration: none;
}

.book:hover{
    background-color: #99D98C;
    color: white;
}

.button-box{
    text-align: center;
}

.home-title{
    color:white;
}

.icon{
    width: 80px;
}

.join{
    background-color: #1A759F;
    color: white;
    text-decoration: none;
}

.join:hover{
    background-color: #99D98C;
    color: white;
}

.logo{
    width: 80px;
}

.msg{
    background-color: #1A759F;
    color: white;
}

.msg h2{
    color:white;
}

.msg p{
    color: white;
}
