@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Vollkorn&display=swap');

/* MUST ADD FONT FAMILIES */

body{
    background-color: #6C6E49;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #46543B;
}
a:hover{
    text-decoration: underline;
}
h2 {
    margin: 0;
}
h3{
    text-decoration: underline;
}
h4{
    color: white;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #7BA2A3;
    color: #011628;
}
main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
footer{
    background-color: #6C6E49;
    text-decoration: underline;
    padding: 25px 50px;
    margin: 200px 0;
}
footer h3{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #011628;
}
footer .social img{
    padding-top: 15px;
}
#background {
    height: 725px;
    background-color: transparent;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-img{
    width: 100%;
}
#hero-msg h1,
#hero-msg h4{
    text-align: center;
}
#logo_link{
    padding-top: 5px;
}
.book, .join{
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 200px 0;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #7BA2A3;
    color: #011628;
}
.button-box{
    text-align: center;
}
.card-img{
    border: solid black 10px;
}
.home-title{
    color: white;
    font-size: 2em;
    margin: 200px 0;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
.msg{
    background-color: transparent;
    color: #011628;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.rivers-card,
.comping-card,
.rapids-card{
    margin: 200px 0;
}

.social a, .social a:link, .social a:active, .social a:hover, .social a:visited{
    text-decoration: none;
}