body{
    background-color: #727273;
    margin: none;
    padding: none;
}
main {
    display: grid;
    grid-template-rows: auto auto;
}
#top_image {
    grid-row: 1/-1;
    margin: auto;
    border: none;
}
#bottom_images{
    display: grid;
    grid-template-columns:auto auto auto;
}
#circles{
    width: 1500px;
    height: 550px;
}
#desk{
    border-radius: 50%;
    border: solid #454544 1em;
    width: 275px;
    margin: 50px;
    margin-left: 20%;
}
#graphic{
    border-radius: 50%;
    border: solid #454544 1em;
    width: 275px;
    margin: 50px 25px;
    margin-left: 15%;
}
#person{
    border-radius: 50%;
    border: solid #454544 1em;
    width: 275px;
    margin: 50px 25px;
    margin-left: 15%;
}