body{
    margin: 0;
	font-size: 12px;
	padding: 0;
	background-color: #b1bcdd;
}
#navbar{
    overflow: hidden;
    background-color: #b1bcdd;
}
#navbar a{
    float: left;
    display: block;
    color: #9283ad;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
.logo{
	width: 40px;
}
.main_info{
	display: flex; 
}
textarea{
	font-size: 12px;
	text-align: left;
	width: calc(100% - 20px - 2px);
	border-radius: 10px;
	padding: 10px;
	resize: none;
	overflow: hidden;
	height: 15em;
}
input[type=checkbox] {
	cursor: pointer;
}
  