body{
    margin: 0;
	font-size: 12px;
	padding: 0;
	background-color: whitesmoke;
}
h2{
    margin: 15px 0 10px 0;
	font-size: 2.5em;
	text-align: center;
}
h3{
    margin: 5px;
    font-size: 1.3em;
    font-weight: 400;
    color: #362a4d;
}
p{
    font-size: 1.5em;
}
img{
	width: 60%;
    margin: 50px 190px;
}
#navbar .site_name{
    float: left;
    margin-top: 14px;
    font-size: 1.3em;
}
#navbar{
    overflow: hidden;
    background-color: #afbbdd;
}
#navbar .link{
    float: right;
    display: block;
    color: #362a4d;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.3em;
}
#navbar .link:hover{
    background-color: #9283ad;
}
#navbar .logo{
    float: left;
    width: 80px;
    margin: 0 0 0 20px;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px 155px 1fr 1fr 1fr;
}
.top-background{
    background-color: #afbbdd;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: -1;
}
.intro{
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.7em;
    font-weight: 600;
    margin-top: 70px;
    text-align: center;
}
.first{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 100px;
    margin-top: 30px;
}
.firsti{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-right: 100px;
    margin-top: 50px;
} 
.second{
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 100px;
    margin-top: 55px;
    margin-right: 100px;
}
.secondi{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 100px;
    margin-top: 55px; 
}
.third{
    grid-column: 1/2;
    grid-row: 5/6;
    margin-left: 100px;
    margin-top: 30px;
}
.thirdi{
    grid-column: 2/3;
    grid-row: 5/6;
    margin-right: 100px;
    margin-top: 30px;
}
h4{
    margin: 50px 0 0 0;
    color: #362a4d;
    font-size: 1.7em;
    font-weight: 600;
}
footer{
    background-color: #afbbdd;
}
footer h5{
    text-align: center;
    padding: 17px 0;
    font-size: 1em;
}
