body{
    margin: 0;
	font-size: 12px;
	padding: 0;
	background-color: whitesmoke;
}
h2{
    margin: 15px 0 10px 0;
	font-size: 2.5em;
	text-align: center;
}
h3{
    margin: 5px;
    font-size: 1.3em;
    font-weight: 400;
    color: #362a4d;
}


img{
	width: 40%;
}
#navbar .site_name{
    float: left;
    margin-top: 14px;
    font-size: 1.3em;
}
#navbar{
    overflow: hidden;
    background-color: #afbbdd;
}
#navbar .link{
    float: right;
    display: block;
    color: #362a4d;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.3em;
}
#navbar .link:hover{
    background-color: #9283ad;
}
#navbar .logo{
    float: left;
    width: 80px;
    margin-left: 20px;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
.adventure img{
	width: 100%;
}
.adventure h2{
	font-size: 2.5em;
	position: absolute;
	top: 7%;
	left: 54%;
	transform: translate(-50%, -50%);
	line-height: 135%;
}
.purpose{
	font-size: 1.5em;
	text-align: justify;
	margin: 50px 400px;
}
.button-box{
	text-align: center;
}
.create, .display{
    background-color: #b1bcdd;
    color: #3F251B;
    text-decoration: none;
    font-size: 1em;
    padding: 15px 30px;
    margin: 200px 0;
    border-radius: 5px;
}
.create:hover, .display:hover{
    background-color: #b1bcdd;
    color: #3F251B;
}