@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Libre+Baskerville&display=swap');

body{
    margin: 0;
	font-size: 12px;
	padding: 0;
	background-color: whitesmoke;
}
h2{
    margin: 15px 0 10px 0;
	font-size: 2.5em;
	text-align: center;
    font-family: sans-serif;
    font-kerning: normal;
}
h3{
    margin: 5px;
    font-size: 1.3em;
    font-weight: 400;
    color: #362a4d;
    font-family: sans-serif;
}
p{
    font-family: 'Libre Baskerville', serif;
}
img{
	width: 40%;
}
.images{
    margin: 60px;
}
#navbar .site_name{
    float: left;
    margin-top: 14px;
    font-size: 1.3em;
}
#navbar{
    overflow: hidden;
    background-color: #afbbdd;
}
#navbar .link{
    float: right;
    display: block;
    color: #362a4d;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.3em;
}
#navbar .link:hover{
    background-color: #9283ad;
}
#navbar .logo{
    float: left;
    width: 80px;
    margin-left: 20px;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
footer{
    background-color: #afbbdd;
}
footer h5{
    text-align: center;
    padding: 17px 0;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}
.subtitle{
    margin: 5px;
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}
section{
    display: flex;
    align-items: center;
}
.title{
    margin: 20px 0 40px 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
}
.text{
	text-align: justify;
	margin: 50px 120px;
}
.text p{
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}
.dnd{
    font-size: 1.7em;
    font-weight: 600;
    margin-left: 0;
}
.button-box{
	text-align: center;
    padding: 25px;
}
.basics, .display{
    background-color: #afbbdd;
    color: #362a4d;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 200px 0;
    border-radius: 5px;
    font-family: sans-serif;
}
.basics:hover, .display:hover{
    background-color: #9ba7c9;
    color: #362a4d;
}